
body{
 /* background-color: #876445; */
 background-image: url('ground.webp');
 background-size: cover;
 align-items: center;
 /* color: rgb(48, 214, 192); */
}
/* h1
{
    padding-top: 3rem;
    text-align: center;
    color: rgb(48, 214, 192);
} */

/* .container
{
   
   align-items: center;
   color: rgb(48, 214, 192);
   /* background-color:#BAFFB4 ; 
}*/
/*.udetails
{
    color: rgb(48, 214, 192);
} */
/* .form-group
{
    color: #30d6c0;
}
#containerid
{
    color: rgb(48, 214, 192);  
}
.form-text
{
    color: rgb(48, 214, 192);
} */